{{ define "main" }}
<div class="page-shell">
  <header class="page-header">
    <h1 class="heading-1">Galerie</h1>
  </header>

  <div class="gallery-list">
    {{- range .Pages }}
    <section>
      <h2 class="heading-2">{{ .Title }}</h2>
      {{- with .Params.description }}
      <p class="content">{{ . }}</p>
      {{- end }}
      <div class="gallery-grid">
        {{- range .Params.photos }}
        <img class="gallery-image" src="{{ .image }}" alt="{{ .alt }}">
        {{- end }}
      </div>
    </section>
    {{- end }}
  </div>
</div>
{{ end }}
