{{ define "main" }}
<div class="post-layout">
    <aside class="post-sidebar">
        <h2 class="heading-4">Beiträge</h2>
        <ul class="sidebar-list">
            {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </li>
            {{ end }}
        </ul>
    </aside>

    <div class="post-list">
        {{ range .Pages }}
        <article class="post-card">
            <h2 class="heading-3">
                <a class="page-list-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <p class="page-meta">{{ .Date.Format "02. January 2006" }}</p>
            <div class="content">{{ .Summary }}</div>
            <a href="{{ .RelPermalink }}" class="read-more">weiterlesen →</a>
        </article>
        {{ end }}
    </div>
</div>
{{ end }}
