<section class="hero bg-(--secondary)" aria-labelledby="start-hero-title">
    <img src="{{ " images/bricks_unsplash.jpg" | relURL }}" alt="image of a brick wall."
        class="absolute inset-0 grayscale opacity-50 w-full h-auto">
    <div class="hero-eyebrow">Initiative gegen sexualisierte Gewalt</div>
    <h1 class="heading-1" id="start-hero-title">
        <span class="accent">Sichtbar</span>
        &amp; <span class="block mt-4">Selbstbestimmt</span>
    </h1>
    <div class="hero-sub">
        <div class="hero-tagline">
            <p class="hero-text">{{ .Site.Params.description }}</p>

            {{ partial "intro.html" . }}
        </div>
    </div>
</section>